@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --first-color: #7d476c;
    --bg-color: #dddddd;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #CBDFDC;
    ;
}

.form-container {
    position: relative;
    width: 800px;
    height: 550px;
    background: var(--white-color);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.fluid-container {
    position: relative;
    top: 0;
    left: 0;
}

.fluid-container .fluid-1 {
    position: absolute;
    top: -230px;
    left: -120px;
    width: 250px;
    transform: rotate(90deg) scale(1);
    z-index: 1;
}

.login-container, .register-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: left 1s;
    transition-delay: 400ms;
}

.register-container {
    left: 100%;
}

.img-box {
    background-color: #fff78e;
    position: relative;
    width: 50%;
    height: 100%;
    transition: 500ms; 
}

.img-box img {
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 0;
}

.login-form, .register-form {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
    transition: 500ms;
    justify-content: center;
    display: block;
}

.form-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 30px; /*top-bottom left-right */
    margin-top: 25px;
    margin-bottom: 35px;
}

.input-field {
    font-size: 20px;
    width: 100%;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 16px;
    background: transparent;
    background-color: #ffeece;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}

.input-field:focus, 
.input-field:valid {
    border: 2px solid #625d5d;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 40;
    text-indent: 16px;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 400;
    color: #8b8b8b;
    transition: all 0.3s ease;
}

.input-field:focus ~ label, .input-field:valid ~ label {
    top: -45%;
    transform: translateY(-10%);
    font-size: 15px;
    font-weight: 500;
    color: #625d5d;
}

.input-box .form_icon {
    font-size: 1.4rem;
    color: #8b8b8b;
    transition: 0.3s;
}

.input-box .form_icon i {
    position: absolute;
    top: 25%;
    transform: translateY(5%);
    right: 1rem;
    cursor: pointer; 
}

.input-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    height: 50px;
    margin-top: 10px;
    margin-left: 25%;
    font-size: 15px;
    background-color: #ee9fa7;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.input-submit:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-submit span {
    font-size: 20px;
    font-weight: 500;
}

.form-bottom-links {
    display: flex;
    justify-content: center;
}

.form-bottom-links p {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    color: #625d5d;
}

.form-bottom-links p a {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color: #e56969;
    margin-bottom: 20px;
    cursor: pointer;
}

/* === Fluid Animate === */
#fluid.fluid-animate {
    animation: scale 0.8s ease alternate 2;

}
@keyframes scale {
    from {
        transform: rotate(90deg) scale(1);
    }
    to {
        transform: rotate(90deg) scale(15);
    }
}




