<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/login2.css">
    <title>Login | Sign Up</title>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.1.2/firebase-firestore.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.1.2/firebase-storage.js"></script>
</head>

<body>
    <div class="form-container">
        <div class="fluid-container">
            <img src="/static/image/fluid-1.svg" id="fluid" class="fluid-1">
        </div>

        <!-- Login Form -->
        <div class="login-container">
            <div class="img-box">
                <img src="/static/image/isometric-education-illustration.png" class="form_img" alt="">
            </div>
            
            <form class="login-form">
                <div class="img-logo">
                    <img src="/static/image/capbooklogo.png" alt="">
                </div>
                <div class="form-title">
                    <span>Login</span>
                </div>
                <div>
                    <div class="input-box">
                        <input type="email" id="login-email" class="input-field" autocomplete="off" required>
                        <label for="username">Email</label>
                        <div class="form_icon">
                            <i class='bx bxs-envelope'></i>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="password" id="login-password" class="input-field" autocomplete="off" required>
                        <label for="password">Password</label>
                        <div class="form_icon">
                            <i class='bx bxs-lock'></i>
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <button type="submit" class="input-submit">
                        <span>Login</span>
                    </button>
                </div>
                <div class="form-bottom-links">
                    <p>Don't have an Account? <a href="#" id="register-btn">Create</a></p>
                </div>
            </form>
        </div>

        <!-- Register Form -->
        <div class="register-container">
            <div class="img-box2">
                <img src="/static/image/freepik-export-20241012043312PDqe.png" class="form_img" alt="">
            </div>
            
            <form class="register-form">
                <div class="img-logo">
                    <img src="/static/image/capbooklogo.png" alt="">
                </div>
                <div class="form-title">
                    <span>Sign Up</span>
                </div>
                <div>
                    <div class="input-box">
                        <input type="text" id="reg-user" class="input-field" autocomplete="off" required>
                        <label for="username">Username</label>
                        <div class="form_icon">
                            <i class='bx bxs-user'></i>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="email" id="reg-email" class="input-field" autocomplete="off" required>
                        <label for="reg-email">Email</label>
                        <div class="form_icon">
                            <i class='bx bxs-envelope'></i>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="password" id="reg-password" class="input-field" autocomplete="off" required>
                        <label for="reg-password">Password</label>
                        <div class="form_icon">
                            <i class='bx bxs-lock'></i>
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <button type="submit" class="input-submit"> <!-- Changed to type="submit" -->
                        <span>Sign Up</span>
                    </button>
                </div>
                <div class="form-bottom-links">
                    <p>Already have an Account? <a href="#" id="login-btn">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="/static/js/firebase.js"></script>
    <script type="module" src="/static/js/login2.js"></script> <!-- Include type="module" -->
</body>
</html>
